
@{
    ViewData["Title"] = "DangKyThanhVien";
}
<style>
    .error{color: red;}
</style>

<h1>Đăng ký Thành Viên</h1>

<form id="FormDangKy" asp-action="XuLyDangKyThanhVien">
    <h2 class="text-center text-danger">
        Đăng ký Thành viên
    </h2>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Mã sinh viên</div>
        <div class="col-8 col-md-9">
            <input name="MaSV" placeholder="Mã sinh viên" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Họ tên</div>
        <div class="col-8 col-md-9">
            <input name="HoTen" placeholder="Họ tên Sinh viên" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Ngày sinh</div>
        <div class="col-8 col-md-9">
            <input name="NgaySinh" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Email</div>
        <div class="col-8 col-md-9">
            <input name="Email" placeholder="Email" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Xác nhận email</div>
        <div class="col-8 col-md-9">
            <input name="XacNhanEmail" placeholder="Xác nhận email" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Số tài khoản</div>
        <div class="col-8 col-md-9">
            <input name="SoTaiKhoan" placeholder="Số tài khoản" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Hình</div>
        <div class="col-8 col-md-9">
            <input type="file" name="Hinh" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Điểm</div>
        <div class="col-8 col-md-9">
            <input name="Diem" placeholder="Điểm" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Hệ số</div>
        <div class="col-8 col-md-9">
            <input name="HeSo" placeholder="Hệ số" class="w-100" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Mã bảo mật</div>
        <div class="col-8 col-md-9">
            <span class="text-danger">@ViewBag.ChuoiNgauNhien</span>
            <input name="MaBaoMat" placeholder="Mã bảo mật" class="w-50" />
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right">Thông tin thêm</div>
        <div class="col-8 col-md-9">
            <textarea name="ThongTinThem" class="w-100"></textarea>
        </div>
    </div>
    <div class="row m-1">
        <div class="col-4 col-md-3 text-right"></div>
        <div class="col-8 col-md-9">
            <button class="btn btn-success">Đăng ký</button>
            <button class="btn btn-danger" type="reset">Nhập lại</button>
        </div>
    </div>
</form>

@section Scripts{ 
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script>
        $(document).ready(function () {
            function laGmail(value, element) {
                let pattern = /^[a-z][a-z0-9]*([.][a-z0-9]+)*@@gmail.com$/g;
                return this.optional(element) || pattern.test(value);
            }

            $.validator.addMethod("gmail", laGmail, "Chưa đúng định dạng gmail")

            $("#FormDangKy").validate({
                rules: {
                    MaSV: { required: true, rangelength: [10, 10] },
                    HoTen: { required: true },
                    NgaySinh: { date: true },
                    Email: { email: true, required: true, gmail: true },
                    XacNhanEmail: { email: true, equalTo: "input[name='Email']" },
                    SoTaiKhoan: { creditcard: true },
                    Hinh: { extension: "bmp|jpg|gif|png", accept: "image/*" },
                    Diem: { number: true, range: [0, 10] },
                    HeSo: { digits: true, min: 1 },
                    ThongTinThem: { maxlength: 255 },
                    MaBaoMat: { remote: "/Demo/KiemTraMaBaoMat"}
                },
                messages: {
                    MaBaoMat: { remote: "Chưa khớp mã bảo mật" },
                    MaSV: { required: "*", rangelength: "Phải 10 kí tự" },
                    HoTen: { required: "*" },
                    Email: { email: "Chưa đúng định dạng email", required: "*" },
                    Hinh: { extension: "Chọn file ảnh bmp|jpg|gif|png" }
                }
            });
        });
    </script>
}