
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>
<div class="text-danger">@TempData["ThongBao"]</div>

<form asp-action="UploadSingleFile" enctype="multipart/form-data">
    <h2>Upload Single File</h2>
    <input type="file" name="myFile" />
    <button>Upload</button>
</form>

<form asp-action="UploadMultipleFile" enctype="multipart/form-data">
    <h2>Upload Multiple File</h2>
    <input type="file" name="myFiles" multiple="multiple" />
    <button>Upload</button>
</form>